server:
  port: 8081
spring:
  application:
    name: demo
  datasource:
    username: root
    url: jdbc:mysql://127.0.0.1:3306/localtest?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.jdbc.Driver
    password: 123456
  jpa:
    show-sql: true
  redis:
    database: 0
    host: localhost
    port: 6379
    password: 1234
  kafka:
    consumer:
      bootstrap-servers: 192.168.137.128:9092
      enable-auto-commit: true
      auto-offset-reset: latest
      group-id: test
mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  configuration:
    map-underscore-to-camel-case: true
value: 1234